@import "../../scss/config";

.footer-wrapper{
    width: 100vw;
    height: 100px;
    background: linear-gradient(0deg, $theme-color 0%, $tertiary-color 100%);
    margin-top: 5rem;
    color: $black;
    text-align: center;
}
.footer-main{
    margin-right: auto;
    margin-left: auto;
    max-width: $main-width-phone;
    height: 50px;
    display: flex;
    padding: 0 15px;
}
.footer-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
// .footer-left{
//     flex-direction: column;
//     text-align: left;
// }
// .footer-right{
//     height: initial;
//     display: flex;
//     align-items: flex-end;
// }
.footer-logo{
    margin-bottom: 0.5rem;
}
.bottom-space-footer{
    height: 1rem;
    background-color: $theme-color;
    width: 100vw;
}
@media (min-width: 576px){
    .footer-main{
        max-width: 90vw;
    }
}