@import "../scss/config";

.about-p{
    max-width: 600px;
    width: 100%;
    font-family: $font-general;
}
.mission-wrapper{
    text-align: center;
    margin: 0 auto;
    font-family: $font-general;
}
.contact-div{
    font-family: $font-general;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow:    0 0 5px #ccc; 
    box-shadow:         0 0 5px #ccc;
    padding: 2rem;
    text-align: center;
    height: 100%;
    h3{
        font-size: $font-l !important;
        color: $theme-darker;
    }
}
.contact-p{
    text-align: left;
    color: $black;
    padding: 2rem;
}
@media (min-width: 576px) {
    .about-p{
        width: 50%;
        min-width: 400px;
        margin: 0 auto;
        line-height: 35px;
    }
}