@import "../scss/config";

.card-comments{
    border: 0 !important;
}
.card-comments-h{
    background-color: transparent !important;
    border-bottom: 0 !important;
}
.collapsed-body{
    padding: 0 !important;
}
.btn-load{
    padding-left: 0;
    text-align: left;
}