@import "../../scss/config";

.desc-box{
    margin-top: 1rem;
    width: 100%;
    max-height: 2.6rem;
    overflow: hidden;
    display: block;
    font-size: 14px;
    overflow-wrap: anywhere;
}
.desc-box-expanded{
    width: 100%;
    margin-top: 1rem;
    overflow: visible;
    // background-color: white;
    // height: auto;
    font-size: 14px;
    background-color: aliceblue;
    font-size: 14px;
    /* height: 2.6rem; */
    position: absolute;
    z-index: 100;
    top: 22rem;
}
.wrap-text-desc{
    overflow-wrap: anywhere;
}
.show-label{
    font-size: 14px;
}
.btn-show-more{
    margin-top: 1rem;
    border: 1px solid $theme-darker;
    border-radius: 4px;
    padding: 5px 1rem;
    width: 100%;
    text-align: center;
    background-color: $theme-ultlalight;
    &:hover{
        cursor: pointer;
        background-color: white;
    }
}
.pagination{
    justify-content: flex-end;
    
}
.page-item.active > .page-link{
    background-color: $theme-color !important;
    border-color: $theme-color;
}
.video-title-div{
    margin-top: 10px;
    min-height: 38px;
}
.card-header{
    padding: 0;
}
// .accordion-style{
//     width: 100%;
//     margin-top: 1rem;
//     text-align: left;
//     background-color: transparent;
//     border: 0;
//     .card{
//         border: 0;
//         background-color: transparent;
//         .card-header{
//             background-color: transparent;
//             border-bottom: 0;
//         }
//     }
// }
// .acccordion-text{
//     text-align: left;
//     padding: 0;
// }
// .accordion>.card{
//     overflow: visible !important;
// }
// .accordion-body-custom{
//     padding: 0;
// }
.btn-acd{
    text-align: left;
    padding-left: 0 !important;
}

.card-header-acd{
    border-bottom: 0;
}
.ads-container-all{
    background-color: #eee;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
.video-row{
    overflow: hidden;
    height: 100%;
}

// .accordion-body-custom{
//     position: absolute;
//     overflow: visible;
//     z-index: 100;
//     top: 2.4rem;
//     left: -1px;
//     width: calc(100% + 2px);
//     height: max-content;
//     background: white;
//     border: 1px solid #ccc;
// }

.acd-input {
    display: none;
}
.acd-label {
    display: block;    
    padding: 8px 0;
    margin: 0 0 1px 0;
    cursor: pointer;
    // background: #6AAB95;
    // border-radius: 3px;
    color: $theme-color;
    transition: ease .5s;
    text-decoration: underline;
}
.acd-label::after {
    content: ' more';
}
.acd-input:checked + .acd-label::after {
    content: ' less';
}
.acd-label:hover {
    background: transparent;
}
.content {
    padding: 10px 0;
    margin: 0 0 1px 0;
}
.acd-input + .acd-label + .content {
    display: none;
}
.acd-input:checked + .acd-label + .content {
    display: block;
    .acd-wrapper:first-child & {
        background-color: white;
        margin-top: -5rem;
    }
}
.acd-input:checked + .acd-label + .desc-box{
    display: none;
}
