@import "../../scss/config";

.bio-profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.bio-creator-name{
    font-size: $font-l;
    font-weight: 600;
    color: $black;
    // margin-left: 20px;
}
.bio-creator-data{
    font-size: $font-m;
    color: $gray;
    // margin-left: 20px;
}
.bio-text-wrapper{
    margin: auto;
}
.banner-wrapper{
    width: 100%;
    margin: 4rem 0 2rem 0;
    
  }
  .bio-sub-menu{
      margin: auto;
      font-size: $font-m;
      font-family: 'X-Heighting';
      color: $black;
    //   overflow-wrap: break-word;
      flex-wrap: wrap;
      ul{
          margin: auto;
          li{
              display: inline;
              margin-right: 20px;
          }
      }
  }
  .bio-stats{
    margin-bottom: 2rem;
}
.bio-desc-wrapper{
    // background-color: $theme-lighter;
    height: 100%;
    padding: 5px;
}
.bio-main-row{
    overflow: hidden;
    padding: 0 -7px;
}
.bio-ad-container{
    height: 100%;
    background-color: #eee;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

//accordions

  .acd-input {
    display: none;
}
.acd-input {
    display: none;
}

// .acd-label {
//     display: block;    
//     padding: 8px 0;
//     margin: 0 0 1px 0;
//     cursor: pointer;
//     color: $theme-color;
//     transition: ease .5s;
//     text-decoration: underline;
// }
.acd-label::after {
    content: ' more';
}
.acd-input:checked + .acd-label::after {
    content: ' less';
}
.acd-label:hover {
    background: transparent;
}
.content {
    padding: 10px 0;
    margin: 0 0 1px 0;
}
.acd-input + .acd-label + .content {
    display: none;
}
.desc-box-featured::after{
    content: ' more';
}
.acd-input:checked + .acd-label + .desc-box-featured + .content {
    display: block;
    overflow-wrap: anywhere;
    .acd-wrapper:first-child & {
        background-color: white;
        margin-top: -5rem;
    }
}
.acd-input:checked + .acd-label + .desc-box-featured{
    display: none;
}
.acd-input + .acd-label + .desc-box-featured + .content {
    display: none;
}
.acd-input:checked + .acd-label + .content {
    display: block;
    .acd-wrapper:first-child & {
        background-color: white;
        margin-top: -5rem;
    }
}
.acd-input:checked + .acd-label + .desc-box{
    display: none;
}
.desc-box{
    // margin-top: 1rem;
    width: 100%;
    max-height: 2.6rem;
    overflow: hidden;
    display: block;
    font-size: 14px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .bio-stats{
        padding-left: 0;
        margin-bottom: 0;
    }
    .bio-sub-menu{
        font-size: $font-l;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }