@import "../../scss/config";

.btn-fan{
    background-color: $theme-color;
    border-color: $theme-color;
    &:hover{
        background-color: $theme-hover;
        border-color: $theme-hover;
    }
    &:focus{
        background-color: $theme-hover;
        border-color: $theme-hover;
    }
    &:disabled{
        background-color: $black;
        border-color: $black;
        // color: black !important;
    }
}


.center-btn{
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}
.bio-sub-nav{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    a{
        margin-right: 1.5rem;
    }
    a.active{
        color: $theme-hover !important;
        cursor: auto;
    }
}

@media (min-width: $md){
    .bio-sub-nav{
        margin-top: 0;
    }
    
}