@import "../../scss/config";

.btn-fan{
    background-color: $theme-color;
    border-color: $theme-color;
    &:hover{
        background-color: $theme-hover;
        border-color: $theme-hover;
    }
    &:focus{
        background-color: $theme-hover;
        border-color: $theme-hover;
    }
    &:disabled{
        background-color: $black;
        border-color: $black;
        // color: black !important;
    }
}


.center-btn{
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}
